<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title color="light">
      Ionic 5 Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-img style="width: 200px; height: 200px; margin: auto; margin-bottom: 100px;" src="../../assets/appIcon.png"></ion-img>
        <ion-button [routerLink]="['/registration']" expand="block" color="primary">Register</ion-button>
        <span class="divider line one-line">or</span>
        <span class="already">Already a user?</span>
        <ion-button [routerLink]="['/login']" expand="block" color="danger">Sing In</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>